.nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color:var(--mc-green);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--mc-green);
  font-weight: bold;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
}
