<div class="card">
	<div class="card-body">
		<div class="d-flex">
			<h5 class="card-title">Categorias</h5>
			<button class="btn btn-sm btn-primary ms-auto">
				<i class="ri-add-line me-1"></i> Nova Categoria
			</button>
		</div>

		<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
			<li [ngbNavItem]="1">
				<a ngbNavLink>Despesas</a>
				<ng-template ngbNavContent>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">id</th>
								<th scope="col">Nome</th>
								<th scope="col">descricao</th>
								<th scope="col">cor</th>
                <th scope="col">icone</th>
                <th scope="col">ativo</th>
							</tr>
						</thead>
						<tbody>
							@for (despesa of categorias_despesas; track despesa.nome; let i = $index) {
							<tr>
								<th scope="row">{{ i + 1 }}</th>
								<td>
									<i class="{{despesa.icone}}"></i>
								</td>
								<td>{{ despesa.nome }}</td>
								<td>botao</td>
							</tr>
							}
						</tbody>
					</table>
				</ng-template>
			</li>
			<li [ngbNavItem]="2">
				<a ngbNavLink>Receitas</a>
				<ng-template ngbNavContent>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">id</th>
								<th scope="col">Nome</th>
								<th scope="col">descricao</th>
								<th scope="col">cor</th>
                <th scope="col">icone</th>
                <th scope="col">ativo</th>
							</tr>
						</thead>
						<tbody>
							@for (receita of categorias_receitas; track receita.nome; let i = $index) {
							<tr>
								<th scope="row">{{ i + 1 }}</th>
								<td>
									<i class="{{receita.icone}}"></i>
								</td>
								<td>{{ receita.nome }}</td>
								<td>botao</td>
							</tr>
							}
						</tbody>
					</table>
				</ng-template>
			</li>
		</ul>

		<div [ngbNavOutlet]="nav" class="mt-2"></div>

		<pre>Active: {{ active }}</pre>
	</div>
</div>