@import 'remixicon/fonts/remixicon.css';
:root{

    --mc-blue-purple: #592EF2;
    --mc-dark: #9fb2e2;
    --mc-grey:#BFCAD9;
    --mc-green  : #29F280;
    --mc-gren-dark: #24733F;
}

.mc-bg-dark{
    background-color: var(--mc-dark);
}

.mc-bg-dark{
    background-color: var(--mc-grey);
}

.mc-text-green{
    color: var(--mc-green);
}